{% extends "layout.html" %}
{% block title %}Test personnalisé{% endblock %}
{% block content %}

<h2>Test personnalisé</h2>

<form id="quizForm" method="post">
    {% for question in questions %}
    <div class="{% if question.parent %}subquestion{% else %}mainquestion{% endif %}">
        <h5>
            {% if question.parent %}
                <strong>Sous-question :</strong>
            {% else %}
                <strong>Question :</strong>
            {% endif %}
            {{ question.question_statement | safe }}
        </h5>

        {% if question.image_filename %}
            <div class="mb-3">
                <img src="{{ url_for('static', filename='uploads/questions/' + question.image_filename)}}"
                     alt="Question Image" style="max-width: 100%; max-height: 300px;">
            </div>
        {% endif %}

        <h6>Choisis tes réponses :</h6>

        {% for index, option in question.get_options() %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   name="question_{{ question.id }}" value="{{ index }}"
                   id="option{{ index }}_{{ question.id }}">
            <label class="form-check-label" for="option{{ index }}_{{ question.id }}">
                {{ option }}
            </label>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit">Soumettre</button>
</form>

<script>
    window.MathJax = {
        tex: {inlineMath: [['$', '$'], ['\\(', '\\)']], displayMath: [['$$', '$$'], ['\\[', '\\]']]},
        svg: {fontCache: 'global'}
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

{% endblock %}
