{% extends "layout.html" %}
{% block title %}Attempt Quiz : {{ quiz.name}} {% endblock %}
{% block content %}
{% block head %}
{% endblock %}
{{ super() }}
<style>
    .timer {
        color : red;
        font-size: 12px;
    }
</style>

<h2>{{quiz.name}}</h2>
{% if quiz.time_duration > 0 %}
<div class="timer">
    <span id="timer">00:00</span>
</div>
{% endif %}
<form id="quizForm" method="post">
    <div>
    {% for question in questions %}
    <div>
        <h5>Q: {{question.question_statement }}</h5>
         {% if question.image_filename %}
            <div class="mb-3">
                <img src="{{ url_for('static', filename='uploads/questions/' + question.image_filename)}}"
                alt="Question Image" style="max-width: 100%; max-height: 300px;">
            </div>
        {% endif %}

        <h6>Choisis tes réponses:</h6>
        
        
        {% for index, option in question.get_options() %}
        <div class="form-check">
            <input class="fomr-check-input" type="checkbox"
                    name="question_{{ question.id }}" value="{{ index }}"
                    id="option{{ index }}_{{ question.id }}">
            <label class="form-check-label" for="option{{ index }}_{{ question.id }}">
                {{ option }}
            </label>
        </div>
        {% endfor %}
       

    </div>
    {% endfor %}
    </div>
    <button type = "submit">Submit Quiz</button>
</form>

<script>
    const quizDuration = {{ quiz.time_duration | default(0) }};  // Assure une valeur par défaut

    if (quizDuration > 0) {
        let timeLeft = quizDuration;

        function updateTimer() {
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            document.getElementById("timer").textContent = 
                `${minutes.toString().padStart(2,'0')}:${seconds.toString().padStart(2,'0')}`;

            if (timeLeft <= 0) {
                clearInterval(timeInterval);
                alert("Time's up ! Votre quiz est soumis automatiquement");
                document.getElementById("quizForm").submit();
            } else {
                timeLeft--;
            }
        }

        // Mettre à jour immédiatement avant de commencer l'intervalle
        updateTimer();  
        const timeInterval = setInterval(updateTimer, 1000);
    }
</script>

{% endblock %}