{% extends "layout.html" %}
{% block title %}Manage Scores{% endblock %}
{% block content %}
<h1>Manage Scores</h1>
<table>
<label>
    <thead>
        <tr>
            <th>ID</th>
            <th>Total Score</th>
            <th>Timestamp</th>

        </tr>   
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ score.id }}</td>
            <td>{{ score.total_scored }}</td>
            <td>{{ score.timestamp }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</label>

{% endblock %}