{% extends "admin/layout.html" %}
{% block title %}Manage Subjects{% endblock %}
{% block content %}
<h2>Manage Subjects</h2>
<a href="{{ url_for('admin.add_subject')}}">Ajouter un Subject</a>
<table>
<label>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th colspan="2">Actions</th>
        </tr>   
    </thead>
    <tbody>
        {% for subject in subjects %}
        <tr>
            <td>{{ subject.id }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.description }}</td>
            <td> <a href="{{ url_for('admin.edit_subject', id=subject.id) }}">Edit</a></td>
            <td>
                <form action="{{ url_for('admin.delete_subject', id=subject.id) }}" method="post">
                <button onclick="return confirm('Voulez-vous vraiment supprimer ce Subject ?')">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</label>
{% endblock %}