{% extends "admin/layout.html" %}
{% block title %}Ajouter une Question {% endblock %}
{% block content %}
<h2>Ajouter une Question pour {{ quiz_id }}</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        <div>
        {{ form.question_statement.label }} 
        {{ form.question_statement }}
        {{ form.question_image.label }}
        {{ form.question_image }}

        {% if question.image_filename %}
        <div class="mb-3">
            <label class="form-label">Image actuelle :</label>
            <div class="question-image-wrapper">
                <img src="{{ url_for('static', filename='uploads/questions/' + question.image_filename) }}"
                    alt="Image actuelle" class="img-fluid rounded shadow">
            </div>
        </div>
        {% endif %}
        
        {% if form.question_statement.errors %}
        <ul class="errors">
        {% for error in form.question_statement.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        </div>
        <div>
            {{ form.option1.label }} 
            {{ form.option1 }}
            {% if form.option1.errors %}
            <ul class="errors">
            {% for error in form.option1.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            </div>
        <div>
            {{ form.option2.label }} 
            {{ form.option2 }}
            {% if form.option2.errors %}
            <ul class="errors">
            {% for error in form.option2.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            </div>
        <div>
            {{ form.option3.label }} 
            {{ form.option3 }}
            {% if form.option3.errors %}
            <ul class="errors">
            {% for error in form.option3.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            </div>
        <div>
            {{ form.option4.label }} 
            {{ form.option4 }}
            {% if form.option4.errors %}
            <ul class="errors">
            {% for error in form.option4.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.option5.label }} 
            {{ form.option5 }}
            {% if form.option5.errors %}
            <ul class="errors">
            {% for error in form.option5.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.correct_options.label }} 
            {{ form.correct_options }}
            {% if form.correct_options.errors %}
            <ul class="errors">
            {% for error in form.correct_options.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            </div>
        
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}